
.menu-catalog {
    display: flex;
    padding: .5rem;
    padding-bottom: 1rem;
    gap: 1rem;
    overflow-x: auto;
    list-style: none;
}
.menu-catalog li {
    position: relative;
}
.menu-item {
    display: block;
    width: 7rem;
    min-width: 7rem;
    height: 100%;
    text-align: center;
    color: black;
    text-decoration: none;
}
.menu-item__context {
    position: absolute;
    top: -.5rem;
    right: .75rem;
    display: flex;
    text-align: center;
}
.menu-item__button {
    box-sizing: border-box;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    padding: .25rem;
    color: black;
    text-decoration: none;
}
.menu-item__info {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    padding: .25rem;
    font-style: normal;
    background: #FFF;
}

.menu-item__img {
    width: 4rem;
    height: 4rem;
}