<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/head.html' %}
    <title>BurgurDash</title>
</head>
<body>
    {% include 'includes/header.html' %}
    <main>
        <ul>
            <li><a href="menu.html">Commander votre repas</a></li>
            <li><a href="panier.html">Panier</a></li>
            <li><a href="paiement.html">Paiement</a></li>
            <li><a href="manager.html">Gestionnaire (interdit aux clients)</a></li>
        </ul>
    </main>
    {% include 'includes/footer.html' %}
</body>
</html>