<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/head.html' %}
    <link rel="stylesheet" href="style/manager.css">
    <title>BurgurDash - Gestion</title>
</head>
<body>
    {% include 'includes/header.html' %}
    <main>
        <h2>Revenus</h2>
        <p class="manager-money">{{paycheck}}€</p>
        <h2>Commandes</h2>
        <div class="manager">
            {% for etat in commandes %}
            <section class="manager-section" id="{{etat}}">
                <h3>{{ etat|title }}</h3>
                <ul class="manager-order-list">
                    {% for commande in commandes[etat] %}
                    {% set id = commande["id"] %}
                    <li class="" data-comid="{{id}}">
                        <p class="manager-order__number">Commande n<sup>o</sup>{{id}}</p>
                        <ul class="manager-item-list">
                            {% for commande2 in commande_aliments %}
                            {% if id == commande2['id'] %}
                            {% for aliment in commande2['contenu'] %}
                            {% set libelle = aliment["libelle"] %}
                            {% set quantite = aliment["quantite"] %}
                            <li class="manager-item">
                                <img src="#" alt="" class="manager-item__img">
                                <p class="manager-item__name">{{quantite}}&#215{{libelle}}</p>
                            </li>
                            {% endfor %}
                            {% endif %}
                            {% endfor %}
                        </ul>
                        <div>
                            <a href="manager/command/move_down/{{id}}" class="button manager-item__button">-- ↓ --</a>
                            <a href="manager/command/move_up/{{id}}" class="button manager-item__button">- ↑ -</a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </section>
            {% endfor %}
        </div>
        <h2>Stocks</h2>
        <ul class="manager-ingredient-list">
            {% for ingredient in ingredients %}
            {% set id = ingredient["id"] %}
            {% set libelle = ingredient["libelle"] %}
            {% set stock = ingredient["stock"] %}
            <li class="manager-ingredient">
                <p class="manager-ingredient__name">{{libelle}}</p>
                <p class="manager-ingredient__number">{{stock}}</p>
                <div class="menu-item__context">
                    {% if stock > 0 %}
                    <a href="/manager/stock/remove/{{id}}" class="button manager-item__button">–</a>
                    {% endif %}
                    <a href="/manager/stock/add/{{id}}" class="button manager-item__button">+</a>
                </div>
            </li>
            {% endfor %}
        </ul>
        <nav class="manager-nav">
            <a href="/" class="button">Annuler</a>
        </nav>
    </main>
    {% include 'includes/footer.html' %}
</body>
</html>