<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/head.html' %}
    <link rel="stylesheet" href="style/menu.css">
    <title>BurgurDash - Commande</title>
</head>
<body>
    {% include 'includes/header.html' %}
    <main>
        <h2>Commande</h2>
        <div class="menu">
            <section class="menu-section" id="burger">
                <h3>Burgers</h3>
                <ul class="menu-catalog">
                    <li class="">
                        <button class="menu-item">
                            <img src="#" alt="" class="menu-item__img">
                            <p class="menu-item__name">Hamburger</p>
                            <p class="menu-item__price">6,00€</p>
                        </button>
                        <button class="menu-item__info">i</button>
                    </li>
                    <li class="">
                        <button class="menu-item">
                            <img src="#" alt="" class="menu-item__img">
                            <p class="menu-item__name">Hamburger double</p>
                            <p class="menu-item__price">8,00€</p>
                        </button>
                        <button class="menu-item__info">i</button>
                    </li>
                    <li class="">
                        <button class="menu-item">
                            <img src="#" alt="" class="menu-item__img">
                            <p class="menu-item__name">Hamburger poulet</p>
                            <p class="menu-item__price">6,00€</p>
                        </button>
                        <button class="menu-item__info">i</button>
                    </li>
                    <li class="">
                        <button class="menu-item">
                            <img src="#" alt="" class="menu-item__img">
                            <p class="menu-item__name">Nugget</p>
                            <p class="menu-item__price">4,00€</p>
                        </button>
                        <button class="menu-item__info">i</button>
                    </li>
                </ul>
            </section>
            <section class="menu-section" id="side">
                <h3>Accompagnements</h3>
                <ul class="menu-catalog">
                    <li class="">
                        <button class="menu-item">
                            <img src="#" alt="" class="menu-item__img">
                            <p class="menu-item__name">Frites</p>
                            <p class="menu-item__price">2,00€</p>
                        </button>
                        <button class="menu-item__info">i</button>
                    </li>
                    <li class="">
                        <button class="menu-item">
                            <img src="#" alt="" class="menu-item__img">
                            <p class="menu-item__name">Potatoes</p>
                            <p class="menu-item__price">2,00€</p>
                        </button>
                        <button class="menu-item__info">i</button>
                    </li>
                    <li class="">
                        <button class="menu-item">
                            <img src="#" alt="" class="menu-item__img">
                            <p class="menu-item__name">Ketchup</p>
                            <p class="menu-item__price">1,00€</p>
                        </button>
                        <button class="menu-item__info">i</button>
                    </li>
                    <li class="">
                        <button class="menu-item">
                            <img src="#" alt="" class="menu-item__img">
                            <p class="menu-item__name">Mayonnaise</p>
                            <p class="menu-item__price">1,00€</p>
                        </button>
                        <button class="menu-item__info">i</button>
                    </li>
                </ul>
            </section>
            <section class="menu-section" id="drink">
                <h3>Boissons</h3>
                <ul class="menu-catalog">
                    <li class="">
                        <button class="menu-item">
                            <img src="#" alt="" class="menu-item__img">
                            <p class="menu-item__name">Coca-Cola</p>
                            <p class="menu-item__price">2,00€</p>
                        </button>
                        <button class="menu-item__info">i</button>
                    </li>
                    <li class="">
                        <button class="menu-item">
                            <img src="#" alt="" class="menu-item__img">
                            <p class="menu-item__name">Orangina</p>
                            <p class="menu-item__price">2,00€</p>
                        </button>
                        <button class="menu-item__info">i</button>
                    </li>
                    <li class="">
                        <button class="menu-item">
                            <img src="#" alt="" class="menu-item__img">
                            <p class="menu-item__name">Fanta</p>
                            <p class="menu-item__price">2,00€</p>
                        </button>
                        <button class="menu-item__info">i</button>
                    </li>
                    <li class="">
                        <button class="menu-item">
                            <img src="#" alt="" class="menu-item__img">
                            <p class="menu-item__name">Eau</p>
                            <p class="menu-item__price">1,50€</p>
                        </button>
                        <button class="menu-item__info">i</button>
                    </li>
                </ul>
            </section>
            <section class="menu-section" id="dessert">
                <h3>Desserts</h3>
                <ul class="menu-catalog">
                    <li class="">
                        <button class="menu-item">
                            <img src="#" alt="" class="menu-item__img">
                            <p class="menu-item__name">Pomme</p>
                            <p class="menu-item__price">2,00€</p>
                        </button>
                        <button class="menu-item__info">i</button>
                    </li>
                    <li class="">
                        <button class="menu-item">
                            <img src="#" alt="" class="menu-item__img">
                            <p class="menu-item__name">Glace</p>
                            <p class="menu-item__price">3,00€</p>
                        </button>
                        <button class="menu-item__info">i</button>
                    </li>
                    <li class="">
                        <button class="menu-item">
                            <img src="#" alt="" class="menu-item__img">
                            <p class="menu-item__name">Tiramisu</p>
                            <p class="menu-item__price">3,00€</p>
                        </button>
                        <button class="menu-item__info">i</button>
                    </li>
                    <li class="">
                        <button class="menu-item">
                            <img src="#" alt="" class="menu-item__img">
                            <p class="menu-item__name">Spéculos</p>
                            <p class="menu-item__price">2,00€</p>
                        </button>
                        <button class="menu-item__info">i</button>
                    </li>
                </ul>
            </section>
        </div>
        <nav class="menu-nav">
            <a href="/" class="button">Annuler</a>
            <a href="/panier" class="button">Voir le panier</a>
        </nav>
    </main>
    {% include 'includes/footer.html' %}
</body>
</html>