<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/head.html' %}
    <link rel="stylesheet" href="style/menu.css">
    <title>BurgurDash - Commande</title>
</head>
<body>
    {% include 'includes/header.html' %}
    <main>
        <h2>Commande</h2>
        <div class="menu">
            {% for category in aliments %}
            <section class="menu-section" id="{{category}}">
                <h3>{{ category|title }}s</h3>
                <ul class="menu-catalog">
                    {% for aliment in aliments[category]%}
                    {% set id = aliment["id"] %}
                    <li class="" data-type="aliment" data-aliid="{{id}}" data-ing="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam, velit quasi magni enim unde, iusto, repellat sunt quis et aliquam aspernatur consequuntur. Accusamus dicta quod nihil voluptas eaque natus dolor?">
                        <a href="menu/add/{{id}}" class="menu-item">
                            <img src="#" alt="" class="menu-item__img">
                            <p class="menu-item__name">{{aliment["libelle"]}}</p>
                            <p class="menu-item__price">{{aliment["prix"]}}€</p>
                        </a>
                        <div class="menu-item__context">
                            <button class="button menu-item__button">i</button>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </section>
            {% endfor %}
        </div>
        <div class="menu-basket">
            <h2>Panier</h2>
            <ul class="menu-catalog">
                {% for aliment in commande %}
                {% set id = aliment["id"] %}
                <li class="" data-type="commande" data-aliid="{{id}}">
                    <div class="menu-item">
                        <img src="#" alt="" class="menu-item__img">
                        <p class="menu-item__name">{{aliment["libelle"]}}</p>
                        <p class="menu-item__price">{{aliment["prix"]}}€</p>
                    </div>
                    <div class="menu-item__context">
                        <a href="/menu/remove/{{id}}" class="button menu-item__button">–</a>
                        <var class="menu-item__info">{{aliment["quantite"]}}</var>
                        <a href="/menu/add/{{id}}" class="button menu-item__button">+</a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <nav class="menu-nav">
            <a href="/" class="button">Annuler</a>
            <a href="/panier" class="button">Voir le panier</a>
        </nav>
        <div class="popup-layer" id="popup">
            <div class="popup-box">
                <div id="popup-text"></div>
            </div>
        </div>
    </main>

    <script>
        const $popup = document.getElementById("popup");
        const $popup_text = document.getElementById("popup-text");
        const $popup_img = document.getElementById("popup-img");

        $popup.addEventListener("click", e => {
            $popup.classList.remove("show");
        });

        for(let ali of document.querySelectorAll("[data-type=aliment]")) {
            const aliid = ali.dataset.aliid;
            const ing = ali.dataset.ing;
            const button = ali.querySelector(".menu-item__button");
            button.addEventListener("click", e => {
                $popup_text.innerText = ing;
                $popup.classList.add("show");
            });
        }
    </script>
    {% include 'includes/footer.html' %}
</body>
</html>