<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% include 'includes/head.html' %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/paiement.css">
    <title>Paiement de la commande</title>
</head>
<body>
    {% include 'includes/header.html' %}
    <main>
        <h1>Page de paiement</h1>
        <br>
        <h3>Montant du total à payer : 84,50 €</h3>
        <br>
        Veuillez renseigner vos coordonnées afin que vous puissiez être livré.
        <br> 
        Seul le paiement en carte bleue est accepté.
        <br>
        <a href="/valide"><img src="/cb.PNG"></a>       
    </main>
    <br>
    {% include 'includes/footer.html' %}
</body>
</html>